In [1]:
import pandas as pd
import pyodbc
import sqlite3
from IPython.display import Image, display

In [2]:
conn = sqlite3.connect("ewaste_data.db")
cursor = conn.cursor()

## Drop Tables

In [3]:
exec_string = """
DROP TABLE IF EXISTS Users;

DROP TABLE IF EXISTS Locations;

DROP TABLE IF EXISTS DisposalTypes;

DROP TABLE IF EXISTS ItemTypes;

DROP TABLE IF EXISTS Items;
"""

In [4]:
for cmd in exec_string.split(';'):
    cursor.execute(cmd)

## Create Tables

In [5]:
exec_string = """
CREATE TABLE Users (
	ID integer PRIMARY KEY AUTOINCREMENT,
	FirstName string,
	LastName string,
	LocationKey integer,
    Login string,
    PIN integer
);

CREATE TABLE Locations (
	ID integer PRIMARY KEY AUTOINCREMENT,
	City string,
	State string,
	Zip integer
);

CREATE TABLE DisposalTypes (
	ID integer PRIMARY KEY AUTOINCREMENT,
	Type string
);

CREATE TABLE ItemTypes (
	ID integer PRIMARY KEY AUTOINCREMENT,
	Category string,
	DisposalType integer
);

CREATE TABLE Items (
	ID integer PRIMARY KEY AUTOINCREMENT,
	DateAdded date,
	DateDisposed date,
	User integer,
	Type integer,
	Notes string,
    Image string
);

"""

In [6]:
for cmd in exec_string.split(';'):
    cursor.execute(cmd)

## Load Init Data

#### Locations

In [7]:
exec_string = """
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94701);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94702);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94703);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94704);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94705);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94706);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94707);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94708);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94709);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94710);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94712);
INSERT INTO Locations (City, State, Zip) VALUES ("Berkeley", "California", 94720);
INSERT INTO Locations (City, State, Zip) VALUES ("Oakland", "California", 94577);
"""

In [8]:
for cmd in exec_string.split(';'):
    cursor.execute(cmd)
    conn.commit()

In [9]:
cursor.execute("SELECT * FROM Locations").fetchall()

[(1, 'Berkeley', 'California', 94701),
 (2, 'Berkeley', 'California', 94702),
 (3, 'Berkeley', 'California', 94703),
 (4, 'Berkeley', 'California', 94704),
 (5, 'Berkeley', 'California', 94705),
 (6, 'Berkeley', 'California', 94706),
 (7, 'Berkeley', 'California', 94707),
 (8, 'Berkeley', 'California', 94708),
 (9, 'Berkeley', 'California', 94709),
 (10, 'Berkeley', 'California', 94710),
 (11, 'Berkeley', 'California', 94712),
 (12, 'Berkeley', 'California', 94720),
 (13, 'Oakland', 'California', 94577)]

#### Users

In [10]:
exec_string = """
INSERT INTO Users (FirstName, LastName, LocationKey, Login, PIN) VALUES ("Nic", "Vogler", 2, "nv", 3213);
INSERT INTO Users (FirstName, LastName, LocationKey, Login, PIN) VALUES ("Matt", "Vogler", 3, "mv", 3213);
INSERT INTO Users (FirstName, LastName, LocationKey, Login, PIN) VALUES ("Michelle", "Cutler", 5, "mc", 3213);
INSERT INTO Users (FirstName, LastName, LocationKey, Login, PIN) VALUES ("Kalvin", "Kao", 7, "kk", 3213);
INSERT INTO Users (FirstName, LastName, LocationKey, Login, PIN) VALUES ("Kevin", "Vogler", 2, "kv", 3213);
INSERT INTO Users (FirstName, LastName, LocationKey, Login, PIN) VALUES ("Stanislav", "Kelman", 9, "sk", 3213);
INSERT INTO Users (FirstName, LastName, LocationKey, Login, PIN) VALUES ("Ehsan", "Yousefzadeh", 7, "ey", 3213);
"""

In [11]:
for cmd in exec_string.split(';'):
    cursor.execute(cmd)
    conn.commit()

In [12]:
cursor.execute("SELECT * FROM Users").fetchall()

[(1, 'Nic', 'Vogler', 2, 'nv', 3213),
 (2, 'Matt', 'Vogler', 3, 'mv', 3213),
 (3, 'Michelle', 'Cutler', 5, 'mc', 3213),
 (4, 'Kalvin', 'Kao', 7, 'kk', 3213),
 (5, 'Kevin', 'Vogler', 2, 'kv', 3213),
 (6, 'Stanislav', 'Kelman', 9, 'sk', 3213),
 (7, 'Ehsan', 'Yousefzadeh', 7, 'ey', 3213)]

#### DisposalTypes

In [13]:
exec_string = """
INSERT INTO DisposalTypes (Type) VALUES ("Drop-off Container");
INSERT INTO DisposalTypes (Type) VALUES ("City Pickup");
"""

In [14]:
for cmd in exec_string.split(';'):
    cursor.execute(cmd)
    conn.commit()

In [15]:
cursor.execute("SELECT * FROM DisposalTypes").fetchall()

[(1, 'Drop-off Container'), (2, 'City Pickup')]

#### ItemTypes

In [16]:
exec_string = """
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Large Appliance", 2);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Small Appliance", 1);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Television", 2);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Laptop", 2);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Tablet", 1);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Cell Phone", 1);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Desktop Computer", 1);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Computer Monitor", 2);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Computer Peripherals", 1);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Remote", 1);
INSERT INTO ItemTypes (Category, DisposalType) VALUES ("Batteries", 1);
"""

In [17]:
for cmd in exec_string.split(';'):
    cursor.execute(cmd)
    conn.commit()

In [18]:
cursor.execute("SELECT * FROM ItemTypes").fetchall()

[(1, 'Large Appliance', 2),
 (2, 'Small Appliance', 1),
 (3, 'Television', 2),
 (4, 'Laptop', 2),
 (5, 'Tablet', 1),
 (6, 'Cell Phone', 1),
 (7, 'Desktop Computer', 1),
 (8, 'Computer Monitor', 2),
 (9, 'Computer Peripherals', 1),
 (10, 'Remote', 1),
 (11, 'Batteries', 1)]

#### Items

In [19]:
exec_string = """
INSERT INTO Items (DateAdded, DateDisposed, User, Type, Notes, Image) VALUES ('2019-11-01', '2019-11-02', 1, 11, "Old Batteries", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, DateDisposed, User, Type, Notes, Image) VALUES ('2019-11-02', '2019-11-02', 1, 11, "Old Batteries", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, DateDisposed, User, Type, Notes, Image) VALUES ('2019-10-01', '2019-11-02', 1, 4, "Broken Laptop", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, DateDisposed, User, Type, Notes, Image) VALUES ('2019-09-24', '2019-09-28', 2, 11, "btrs", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, DateDisposed, User, Type, Notes, Image) VALUES ('2019-09-24', '2019-09-28', 2, 9, "light bulbs", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, DateDisposed, User, Type, Notes, Image) VALUES ('2019-09-27', '2019-09-28', 3, 3, "broken tv", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, DateDisposed, User, Type, Notes, Image) VALUES ('2019-09-28', '2019-09-28', 4, 7, "desktop pc", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, DateDisposed, User, Type, Notes, Image) VALUES ('2019-09-25', '2019-09-28', 7, 9, "cables", "/static/images/family.jpg");

INSERT INTO Items (DateAdded, User, Type, Notes, Image) VALUES ('2019-09-29', 1, 10, "remote", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, User, Type, Notes, Image) VALUES ('2019-09-30', 1, 6, "broke phone", "/static/images/family.jpg");
INSERT INTO Items (DateAdded, User, Type, Notes, Image) VALUES ('2019-09-25', 1, 9, "cd", "/static/images/family.jpg");

INSERT INTO Items (DateAdded, User, Type, Image) VALUES ('2019-11-01', 4, 1, "/static/images/family.jpg");
INSERT INTO Items (DateAdded, User, Type, Image) VALUES ('2019-11-01', 4, 1, "/static/images/family.jpg");
INSERT INTO Items (DateAdded, User, Type, Image) VALUES ('2019-11-01', 4, 1, "/static/images/family.jpg");
"""

In [20]:
for cmd in exec_string.split(';'):
    cursor.execute(cmd)
    conn.commit()

In [21]:
cursor.execute("SELECT * FROM Items").fetchall()

[(1,
  '2019-11-01',
  '2019-11-02',
  1,
  11,
  'Old Batteries',
  '/static/images/family.jpg'),
 (2,
  '2019-11-02',
  '2019-11-02',
  1,
  11,
  'Old Batteries',
  '/static/images/family.jpg'),
 (3,
  '2019-10-01',
  '2019-11-02',
  1,
  4,
  'Broken Laptop',
  '/static/images/family.jpg'),
 (4, '2019-09-24', '2019-09-28', 2, 11, 'btrs', '/static/images/family.jpg'),
 (5,
  '2019-09-24',
  '2019-09-28',
  2,
  9,
  'light bulbs',
  '/static/images/family.jpg'),
 (6,
  '2019-09-27',
  '2019-09-28',
  3,
  3,
  'broken tv',
  '/static/images/family.jpg'),
 (7,
  '2019-09-28',
  '2019-09-28',
  4,
  7,
  'desktop pc',
  '/static/images/family.jpg'),
 (8, '2019-09-25', '2019-09-28', 7, 9, 'cables', '/static/images/family.jpg'),
 (9, '2019-09-29', None, 1, 10, 'remote', '/static/images/family.jpg'),
 (10, '2019-09-30', None, 1, 6, 'broke phone', '/static/images/family.jpg'),
 (11, '2019-09-25', None, 1, 9, 'cd', '/static/images/family.jpg'),
 (12, '2019-11-01', None, 4, 1, None, '/static/images/family.jpg'),
 (13, '2019-11-01', None, 4, 1, None, '/static/images/family.jpg'),
 (14, '2019-11-01', None, 4, 1, None, '/static/images/family.jpg')]